img {

  position: absolute;
  left: 50%;
  top: 50%;
 width:500px;
 height:600px;
  transform: translate(-50%,-50%)
}
button {
  cursor: pointer;
  background: #E8555E;
  color: white;
  border-radius: 5px;
  outline: 0;
  border: 0;
font-size:50px;


  transform: translateX(-50%);
  bottom: 300px;
  margin-left: 200px;


  width:400px;
  height:100px;
}

p, h1 {

Color:#E8555E;

}
